.ip-header {position:fixed;top:0;z-index:1050;min-height:480px;width:100%;height:100%;background:#1d1d1d;}
.ip-header h1 {margin:0;}
.ip-logo,.ip-loader {position:absolute;left:0;width:100%;opacity:0;cursor:default;pointer-events:none;}
.ip-logo {top:0;height:100%;-webkit-transform:translate3d(0,25%,0);transform:translate3d(0,25%,0);}
.ip-loader {bottom:20%;}
.ip-header .ip-inner {display:block;margin:0 auto;}
.ip-header .ip-loader svg path {fill:none;stroke-width:6;}
.ip-header .ip-loader svg path.ip-loader-circlebg {stroke:#ddd;}
.ip-header .ip-loader svg path.ip-loader-circle {-webkit-transition:stroke-dashoffset .2s;transition:stroke-dashoffset .2s;stroke:#046674;}
.loading .ip-logo,.loading .ip-loader {opacity:1;-webkit-animation:animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;animation:animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;}
.loaded .ip-logo {opacity:0;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-animation:animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;}
.loaded .ip-loader {opacity:1;-webkit-animation:animLoadedLoader .5s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedLoader .5s cubic-bezier(0.7,0,0.3,1) forwards;}
.loaded .ip-logo svg path {-webkit-transition:all .5s ease .3s;transition:all .5s ease .3s;fill:#fff;}
.loaded .ip-header {-webkit-animation:animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;}
.loaded .ip-main h2,.loaded .ip-main .browser,.loaded .ip-main .browser .box,.loaded .codrops-demos {-webkit-animation:animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;animation:animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;}
.loaded .ip-main .browser,.loaded .ip-main .browser .box:first-child {-webkit-animation-delay:.1s;animation-delay:.1s;}
.loaded .ip-main .browser .box:nth-child(2) {-webkit-animation-delay:.15s;animation-delay:.15s;}
.layout-switch .ip-header {position:absolute;}
.no-js .ip-header {position:relative;min-height:0;}
.no-js .ip-header .ip-logo {margin-top:20px;height:180px;opacity:1;-webkit-transform:none;transform:none;}
.ip-header .ip-logo svg path,.no-js .ip-header .ip-logo svg path {fill:#046674;}
.loading .ip-loader,.loaded .ip-main .browser .box:nth-child(3) {-webkit-animation-delay:.2s;animation-delay:.2s;}
